<%= form_with url: sessions_path, local: true do |form| %>
  <%= flash_message(:alert) %>

  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email, id: :email %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password, id: :password %>
  </div>

  <div>
    <%= form.submit 'Enter' %>
  </div>

<% end %>
