<h1>Passing the <%= @test_passage.test.title %> Test</h1>

<%= content_tag :p,
                class: 'timer',
                data: { end_time: @test_passage.end_time.to_s } do %>
<% end %>

<%= content_tag :progress, 
                class: 'progress-line', 
                data: { current_question_number: @test_passage.current_question_number, total: @test_passage.total } do %>
<% end %>

<b>
  <%= @test_passage.current_question_number %>/<%= @test_passage.total %>
  <%= @test_passage.current_question.title %>
</b>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :title, include_hidden: false do |b| %>
    <div>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </div>
  <% end %>

  <div>
    <%= link_to 'Gist Question', test_passage_gists_path(@test_passage), method: :post %><br>
    <%= form.submit 'Next' %>
  </div>
<% end %>
