<% if logged_in? %>
  <ul class="nav-ul">
    <li class="nav-li"><p>Welcome, <b><%= current_user.username %></b> Guru </p></li>
    <li class="nav-li"><%= link_to 'TestGuru', tests_path %></li>
    <li class="nav-li"><%= link_to 'Logout', logout_path %></li>
  </ul>
  <% else %>
    <ul class="nav-ul">
      <li class="nav-li"><%= link_to 'Sign Up', signup_path %></li>
      <li class="nav-li"><%= link_to 'Log In', login_path %></li>
    </ul>
<% end %>
