<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title, id: :test_title %>
  </div>

  <div>
    <%= form.label :level %><br>
    <%= form.number_field :level, id: :test_level %>
  </div>

  <div>
    <%= form.label :category_id %><br>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </div>

  <div>
    <%= form.label :time_limit %><br>
    <div class='test-time-limit'>
      <%= form.time_select :time_limit, 
                            id: :test_time_limit, 
                            include_seconds: true, 
                            default: {hour: 0, min: 15, sec: 0} %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
