<h1> "<%= @test.title %>" Questions </h1>
<h3> Current number of questions: <%= questions_number(@test) %> </h3>

<p>
  <%= link_to 'New Question', new_admin_test_question_path(@test) %> 
</p>

<table>
  <tr>
    <th>Question Title</th>
    <th colspan="3">Actions</th>
  </tr>

  <%= render @questions %>
  <%#= render partial: 'questions/question', collection: @test.questions %>
</table>

<p>
  <%= link_to 'Edit', edit_admin_test_path(@test) %> |
  <%= link_to 'Back to all tests', admin_tests_path %> 
</p>
